<section class="product-details">
    <img src="/uploads/<%= product.image %>" class="details-img">

    <div class="details-info">
        <h2><%= product.title %></h2>
        <p class="price">₹<%= product.price %></p>

        <p class="desc"><%= product.description %></p>

        <form action="/cart/add" method="POST">
            <input type="hidden" name="productId" value="<%= product._id %>">
            <button class="btn">Add to Cart</button>
        </form>
    </div>
</section>
